.RoomItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 10px;
  background-color: #cbc0d3;
  border-radius: 50% 20% / 10% 40%;

  @media (max-width:600px) {
    display: inline;
  }


  &:hover {
    background-color: #f0edf2;
  }

  &__description {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 5px;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
    & :not(:last-child) {
      flex-shrink: 0;
    }

    &__name {
      font-weight: 600;
    }

    &__rooms {
    }

    &__price {
    }

    &__description {
      display: inline-block;
      text-overflow: ellipsis;
      font-style: italic;
      
      @media (max-width: 700px) {
        
      }
      &:hover {
        white-space: normal;
        transition-timing-function: 0.5s;
        transition-duration: 2s;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    // margin: auto;
    
    @media (max-width:600px) {
      padding-top: 10px;
      align-items: center;
    }
    &-rent {
      background-color: #c0d3cb;
      margin-bottom: 5px;

      &:hover {
        color: #446056;
      }
    }

    &-delete {
      background-color: #d3cbc0;
      &:hover {
        color: #60444e;
      }
    }
  }
}

.button-list {
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 600;
  border-color: #64738d;
  width: 90px;
  height: 35px;
  color: #64738d;

  @media (max-width:600px) {
    width: 1.8in;
  }
  &:hover {
    font-weight: 700;
    border: solid;
    border-color: white;
    transform: scale(120%);
  }
}
